
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>投诉</title>
    <div th:insert="/util/batis::batis"></div>
    <meta charset="utf-8">
    <meta http-equiv=”Cache-Control” content=”no-transform” />
    <meta http-equiv=”Cache-Control” content=”no-siteapp” />
    <meta name="google-site-verification" content="pHPtz5e6IgNzqRui6WNCuwy5URHDqKENsgvcTpb0v2w" />
    <meta name="shenma-site-verification" content="b9bcfad064cb9e582e5aff0166a599f9_1429700162"/>
    <meta name="baidu-site-verification" content="VHUim7a7eI" />
    <meta name="sogou_site_verification" content="X3hnQjhyNF"/>
    <meta name="360-site-verification" content="2b61270acb75ef91cfda5a95c599df36" />
    <link rel="shortcut icon" href="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/image/favicon_new.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
    <link rel="dns-prefetch" href="http://s0.pstatp.com/">
    <link rel="dns-prefetch" href="http://s1.pstatp.com/">
    <link rel="dns-prefetch" href="http://s2.pstatp.com/">
    <link rel="dns-prefetch" href="//s3.pstatp.com/">
    <link rel="dns-prefetch" href="//s3a.pstatp.com/">
    <link rel="dns-prefetch" href="/yisi/">

    <link rel="stylesheet" href="//s3.bytecdn.cn/neihan/resource/neihan_web/static/style/base_45febaf.css">
    <link rel="stylesheet" href="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/style/common_5cd5004.css">

    <link rel="stylesheet" href="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/style/site-v2/common_31fc83d.css">
    <link rel="stylesheet" href="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/select2/select2_de2d008.css">
    <link rel="stylesheet" type="text/css" href="//s3.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/login/login_e61baa8.css">
    <link rel="stylesheet" type="text/css" href="//s3.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/report/report_7b4f576.css">
    <link rel="stylesheet" type="text/css" href="//s3a.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/need-login/need-login_0cef2df.css">
    <link rel="stylesheet" type="text/css" href="//s3.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/share/share_2701739.css">
    <link rel="stylesheet" type="text/css" href="//s3a.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/tips/tips_f31803e.css">
    <link rel="stylesheet" type="text/css" href="//s3.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/post/post_8b2527b.css">
    <link rel="stylesheet" type="text/css" href="//s3a.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/audit/audit_e39b3d4.css">


    <link rel="stylesheet" href="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/style/site-v2/complain_7ff4469.css">


    <!--[if IE]><link rel="stylesheet" href="//s3.bytecdn.cn/neihan/resource/neihan_web/static/style/site-v2/ie-fix_cf85b2e.css"><![endif]-->
    <!--[if IE]><script src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/fix-ie8_433d215.js"></script><![endif]-->
    <script src="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/jquery-1.7.2.min_7727d75.js"></script>
    <script src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/jquery.form_84ce0bd.js"></script>
    <script src="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/jquery.cookie_c23ebe9.js"></script>
    <script src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/underscore_fa02f80.js"></script>
    <script src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/mod_df9079e.js"></script>
    <script src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/pagelet_06385e0.js"></script>
    <script src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/listener_151033d.js"></script>
    <script src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/shifty_6cb291d.js"></script>
    <script src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/storage_19c2bbc.js"></script>

    <script>
        $(function () {
            $("#button").click(function () {
                alert("投诉已经提交,非常感谢您提出的宝贵建议");
            })

        })

        var gaAccount = window.NH_GA_ID || 'UA-75850242-7';

        var _gaq = _gaq || [];
        var gaqpush=function(){};
        var gaevent=function(){};
        var gapageview=function(){};
        var trackPV = gapageview;

        var sampleRate = 100;

        function initGA(){

            if(sampleRate && gaAccount){
                window.onerror = function(message, file, line) {
                    var msg = message,
                        f = file,
                        l = line;
                    if(typeof message === 'object') {
                        msg = message.message;
                        f = message.fileName;
                        l = message.lineNumber;
                    }
                    var sFormattedMessage = '[' + f + ' (' + l + ')]' + msg;
                    window.gaevent ? gaevent('Exceptions', sFormattedMessage, location.pathname + '::::' + navigator.userAgent) : '';
                };

                var test_channel = "",
                    test_version = "",
                    utm_source = "";

                // var ua = navigator.userAgent;

                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                // Replace with your property ID.
                ga('create', gaAccount, {'sampleRate': sampleRate});

                //Init GA Function
                gapageview = function(pageName) {
                    ga('send', 'pageview', pageName);
                };

                gaqpush = function(ga_event, ga_label){
                    gaevent('event',ga_event,ga_label);
                };

                gaevent = function(category, action, label, value){
                    if(test_channel.indexOf(action) >-1) label = label+test_version;
                    if(category != 'event') {
                        ga('send', 'event', category, action, label, typeof value !== "undefined" ? value: 1);
                    }
                };

                gapageview(window.PAGEVIEW_NAME);

                $("html").on('click', '[ga_event]', function(e){
                    var $this =  $(this);
                    var ga_category = $this.attr('ga_category') || 'event';
                    var ga_event = $this.attr('ga_event');
                    var ga_label = $this.attr('ga_label');
                    gaevent(ga_category,ga_event,ga_label);
                    // 如果是按标签， 并且附带了超链接地址，则进行跳转
                    if($this.is('a')){
                        var href = $this.attr('href')||'', target = this.target;
                        if(!( href[0]==='#' || target === "_blank" || e.isDefaultPrevented())) {
                            setTimeout(function(){
                                location.href = href
                            },400);
                            return false
                        }
                    }
                });
            }
        }//end initGA

        initGA();
    </script>


    <script>

        $(function() {

            var currentUser = {
                user_id: '87809583281',
                name: "Nuko309",
                platform: '["qzone_sns"]'
            };


            listener.on('com.neihanshequ.user', 'change', function(type, user) {
                currentUser = user;
            });

            window.isUserLogin = function() {
                return currentUser && !!currentUser.user_id;
            };

            window.getCurrentUser = function() {
                return currentUser;
            };
        });

        function getPlatform() {
            var user = getCurrentUser();
            var platform = user.platform || '[]';
            if(typeof platform == 'string') {
                platform = JSON.parse(platform);
                user.platform = platform;
            }
            return platform;
        }
    </script>



</head>
<body>


<div id="header" class="nav-wrapper">
    <div class="header site-width">
        <ul class="right">
            <li class="left joke_essay">
                <a  href="javascript:void(0)" onclick="window.open('http://www.neihanshequ.com/', '_blank');"><img src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/image/site-v2/duanzi_new_98a9323.png" alt=""></a>
            </li>
            <!--<li class="left joke_zone">
                <a href="/yisi/" target="_blank"><img src="/static/image/site-v2/yisi.png" alt=""></a>
            </li>-->
        </ul>
    </div>
    <div class="nav" id="nav">
        <div class="site-width">
            <ul>
                <li class=""><a href="http://www.neihanshequ.com/">段子</a></li>
                <li class=""><a href="http://www.neihanshequ.com/pic/">图片</a></li>
                <li class=""><a href="http://www.neihanshequ.com/show/">网络表演</a></li>


                <li class="right complain">
                    <a href="http://www.neihanshequ.com/complain/">投诉</a>
                </li>
                <li id="loginBtn" class="right login  show-logout">

                    <a href="http://www.neihanshequ.com/user/87809583281/">我的

                    </a>
                    <span class="logout">退出</span>
                </li>
                <li class="right create">
                    <a href="javascript:if(checkUserLogin()){listener.trigger('com.neihanshequ', 'showPost');}">投稿</a>
                </li>
            </ul>
        </div>
    </div>
</div>





<div class="site-width outer">
    <div class="complain-content-wrapper">
        <div id="complain" class="complain-content">
            <h2 class="text-center pad-tb"><strong>投诉</strong></h2>
            <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" action="toindex">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">联系人</font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" name="cname">
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">联系方式</font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="last-name" name="way" required="required" class="form-control col-md-7 col-xs-12"   >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">内容：</font></font></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control" rows="3" placeholder="请填写内容" name="matter"></textarea>

                        </div>

                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                            <button type="submit" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font></button>
                            <button type="submit" id="button" class="btn btn-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">提交</font></font></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>




<div class="back-top-btn" id="backTopBtn">
    <img src="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/image/site-v2/backTop_e8b77a0.png" alt="">
</div>
<div id="footer" class="footer-wrapper site-width">
    <footer>
        <ul>
            <li>
                <a href="http://www.neihanshequ.com/about/">关于我们</a>
            </li>
            <li>
                <a href="http://www.neihanshequ.com/contact/">联系我们</a>
            </li>
            <li>
                <a href="http://www.neihanshequ.com/help/">使用帮助</a>
            </li>
            <li>
                <a href="http://www.neihanshequ.com/protocol/">用户协议</a>
            </li>
            <li class="iphone">
                <img src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/image/site-v2/apple_c00aec2.png" alt="">
                <a href="">iPhone/iPad</a>
            </li>
            <li class="android">
                <img src="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/image/site-v2/android_174ebda.png" alt="">
                <a href="">Android</a>
            </li>
        </ul>
        <p>2015&copy; 内涵社区 <a href="http://www.neihanshequ.com/">neihanshequ.com</a>｜<a href="">京ICP备12025439号-4</a>｜北京字节跳动科技有限公司</p>
        <p>地址：北京市海淀区知春路甲48号2号楼10A室｜联系电话：010-58732757</p>
        <p>中国互联网举报中心 | 网络文化许可证-京网文-（2016）2282-264号 | 违法和不良信息举报：010-58341734</p>
    </footer>
</div>

<div class="popup-window-wrapper" id="loginPopupWindow">
    <div class="mask"></div>
    <div class="popup-window">
        <div class="header">
			<span class="title left">
登录
</span>
            <span class="close right"><a href="javascript:;">取消</a></span>
        </div>
        <div class="content">

            <div id="loginPopup">
                <ul class="share-items">
                    <li class="login" data-type="sina_weibo"><a href="javascript:;"></a></li>
                    <li class="login" style="display:none;" data-type="qq_weibo"><a href="javascript:;"></a></li>
                    <li class="login" data-type="qzone_sns"><a href="javascript:;"></a></li>

                </ul>
                <a href="javascript:void(0);" class="agree-warpper" onclick="window.open('http://www.neihanshequ.com/protocol/');" target="_blank"><p class="agree">同意《内涵段子用户协议》</p></a>
            </div>

        </div>
    </div>
</div>
<div class="popup-window-wrapper" id="reportPopupWindow">
    <div class="mask"></div>
    <div class="popup-window">
        <div class="header">
			<span class="title left">
举报
</span>
            <span class="close right"><a href="javascript:;">取消</a></span>
        </div>
        <div class="content">

            <div id="reportPopup">
                <ul>
                    <li data-type="8">垃圾广告</li>
                    <li data-type="22">淫秽色情</li>
                    <li data-type="21">煽情骗顶</li>
                    <li data-type="9">以前看过</li>
                    <li data-type="24">抄袭我的内容</li>
                    <li data-type="0">其他</li>
                </ul>
                <div class="submit-btn-wrapper">
                    <div class="submit-btn">提交</div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="popup-window-wrapper" id="postPopupWindow">
    <div class="mask"></div>
    <div class="popup-window">
        <div class="header">
			<span class="title left">
投稿
</span>
            <span class="close right"><a href="javascript:;">取消</a></span>
        </div>
        <div class="content">

            <div id="postPopup">
                <ul class="tabs">
                    <li class="active" data-tag="joke">段子</li>
                    <li data-tag="funny_heavy">囧图</li>
                    <li data-tag="funnyvideo">视频</li>
                </ul>
                <div class="content-wrapper">
                    <form id="publishForm" action="/api/publish_post/" method="POST" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="tag" value="joke">
                        <input type="hidden" name="content_type" value="3">
                        <input type="hidden" name="material_id" value="">
                        <input name="activity_id" type="hidden" value="0"/>
                        <div class="category-wrapper hidden">
                            <label for="categorySelector">选择一个投稿频道：<select name="category_id" id="categorySelector" style="width:300px;" class=""></select></label>
                        </div>

                        <div class="textarea-wrapper" style="position:relative;">
                            <textarea name="text" id="postContent" placeholder="分享一切有笑点的事情,投稿经审核评分后,有机会被推荐到首页,注意不要发别人已经发过的老段子哦."></textarea>

                            <div class="words-remain"><span>300</span>个字</div>
                            <div class="img-preview-wrapper">
                                <div class="hidden" id="fakeImgPreviewer"></div>
                                <img id="previewImg" class="preview-img" alt="">
                                <span class="clear"></span>
                            </div>
                        </div>

                        <div class="select-file-tip">
                            选择文件
                            <div class="error" id="fileUploadError"></div>
                        </div>
                        <div class="file-input">
                            <span class="process-bar"></span>
                            <span class="file-selector">...</span>
                        </div>

                        <div style="text-align:center;">
                            <input type="submit" value="提交" class="submit-btn" id="submitBtn">
                        </div>
                    </form>

                    <form action="/file/upload/v1/image/" image-action="/file/upload/v1/image/" video-action="" method="post" enctype="multipart/form-data" id="upload" class="">
                        <input type="file" class="" name="file" id="file">
                        <video style="display:none;" controls=""></video>
                        <input type="hidden" name="content_type" value="3">
                        <input type="hidden" name="from_iframe" value="">
                    </form>
                    <p id="videoUploadTip" class="video-upload-tip">
                        不要上传大于5分钟的视频，小编不会通过哒，浓缩的才是精华！~
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="popup-window-wrapper" id="needLoginPopupWindow">
    <div class="mask"></div>
    <div class="popup-window">
        <div class="header">
			<span class="title left">
</span>
            <span class="close right"><a href="javascript:;">取消</a></span>
        </div>
        <div class="content">

            <div>
                <img src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/image/site-v2/audit/phone_new_93c60d5.png" alt="" class="phone left">
                <div class="text-wrapper left">
                    <div class="h1">内涵段子</div>
                    <div class="h2">登录才能表状态哦</div>
                    <div class="h2 mb">下载APP，帮你涨姿势，有内涵</div>
                    <div class="button left" id="showLoginBtn"><a href="javascript:;" target="_blank">登录</a></div>
                    <!-- <div class="button left"><a href="http://s.toutiao.com/UwwAd/" target="_blank">下载</a></div> -->
                    <img src="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/image/site-v2/qrcode_joke_essay_a60675d.png" alt="" class="qrcode">
                </div>
            </div>

        </div>
    </div>
</div>

<div id="shareWindow">
    <ul class="share-items">
        <li class="share" data-share-type="bds_tsina" data-type="sina_weibo"></li>
        <li class="share" data-share-type="bds_tqq" data-type="qq_weibo"></li>
        <li class="share" data-share-type="bds_qzone" data-type="qzone_sns"></li>
    </ul>
    <span class="arrow"></span>
</div>
<div id="tips">
    <div class="mask"></div>
    <span class="content"></span>
</div>

<script type="text/javascript" src="//s3a.bytecdn.cn/neihan/resource/neihan_web/common/util/user_9b6d6d1.js"></script>
<script type="text/javascript" src="//s3.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/login/login_5fe5da1.js"></script>
<script type="text/javascript" src="//s3a.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/report/report_15a31a9.js"></script>
<script type="text/javascript" src="//s3.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/need-login/need-login_2dbd574.js"></script>
<script type="text/javascript" src="//s3a.bytecdn.cn/neihan/resource/neihan_web/common/util/bdshare_4f55d04.js"></script>
<script type="text/javascript" src="//s3.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/share/share_52c2dd3.js"></script>
<script type="text/javascript" src="//s3a.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/tips/tips_64c0a56.js"></script>
<script type="text/javascript" src="//s3.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/post/post_66e5912.js"></script>
<script type="text/javascript" src="//s3a.bytecdn.cn/neihan/resource/neihan_web/pagelet/site-v2/popup-window/audit/audit_ba730a4.js"></script>
<script type="text/javascript" src="//s3.bytecdn.cn/neihan/resource/neihan_web/common/listview/list_a29bb52.js"></script>
<script type="text/javascript" src="//s3a.bytecdn.cn/neihan/resource/neihan_web/common/listview/comments_ed20dc7.js"></script>
<script type="text/javascript" src="//s3a.bytecdn.cn/neihan/resource/neihan_web/common/listview/messages_158e9bf.js"></script>

<script type="text/javascript">
    require('pagelet/site-v2/popup-window/login/login.js').create();
    require('pagelet/site-v2/popup-window/report/report.js').create();
    require('pagelet/site-v2/popup-window/need-login/need-login.js').create();
    require('pagelet/site-v2/share/share.js').create();
    require('pagelet/site-v2/tips/tips.js').create();
    require('pagelet/site-v2/popup-window/post/post.js').create({isProxyUser:''});
    require('pagelet/site-v2/popup-window/audit/audit.js').create();

    var CommonListView = require('common/listview/list.js');
    var CommonCommentListView = require('common/listview/comments.js');
    var CommonMessageListView = require('common/listview/messages.js');
    var CommonUserUtil = require('common/util/user.js');

</script>

<script src="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/common_57cc1fa.js"></script>
<script src="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/js/site-v2/constant_338942c.js"></script>
<script src="//s3.bytecdn.cn/neihan/resource/neihan_web/static/js/site-v2/handler_365b752.js"></script>
<script src="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/js/site-v2/userAction_162da90.js"></script>
<script src="//s3a.bytecdn.cn/neihan/resource/neihan_web/static/js/lib/select2/select2_b8f26dd.js"></script>


<script>
    listener.on('com.neihanshequ.user', 'change', function(type, user) {
        var h = location.href;
        location.href = h;
    });
</script>


<script type="text/javascript">

    UserActionModule.init({
        ctn: '.content-wrapper .content',
        isDetailPage: '' == 'detail'
    });

    listener.on('com.neihanshequ.user', 'change', function(type, user) {
        var $loginBtn = $('#loginBtn');
        if(user) {  //login
            $loginBtn.find('a')
                .attr('href', '/user/'+user.user_id+'/')
                .text('我的');
            $loginBtn.addClass('show-logout');
        }else {  //logout
            $loginBtn.find('a')
                .attr('href', "javascript:listener.trigger('com.neihanshequ', 'showLogin');")
                .text('登录');
            $loginBtn.removeClass('show-logout');
        }
    });

    $(function() {


        var hash = location.hash;
        if(hash && hash.indexOf('show-post-window') != -1) {
            hash = hash.substr(1).replace('show-post-window', '');
            var params = hash.split('~');
            listener.trigger('com.neihanshequ', 'showPost', params);
        }

        setTimeout(loadLazyImage, 400);
        $(document.body).find('.timeago').timeago();

        var onClosePopup = function(event) {
            $(event.currentTarget).parents('.popup-window-wrapper').hide();
        };
        $('.popup-window-wrapper .close').click(onClosePopup);
        $('.popup-window-wrapper .mask').click(onClosePopup);
        formatDurationItems();

        var $backTopBtn = $('#backTopBtn');
        $backTopBtn.click(function() {
            window.scrollTo(0, 0);
        });

        $(window).bind('scrollEnd', function(event, data) {
            var t = (data || event._args || {scrollTop: 0}).scrollTop;
            if(t > 600) {
                $backTopBtn.show();
            }else if(t < 100) {
                $backTopBtn.hide();
            }
        });

        $('.logout').click(function(event) {
            $.ajax({
                url: '/sso/auth/logout/'
            }).done(function() {
                // 调用sso的logout
                location.href = 'https://sso.toutiao.com/logout/?service=' + location.href;
//                    $.ajax({
//                        url: 'https://sso.toutiao.com/logout/?service=' + location.href,
//                    }).done(function (res) {
//                        // 调用结束
//                        console.log(res)
//                    });
//                    listener.trigger('com.neihanshequ.user', 'change', null);
            })
            event.stopPropagation();
            event.preventDefault();
            return false;
        });

    });

    initScrollEvents();
</script>


<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>



<script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=6649976" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    var bds_config = {"snsKey":{'tsina':'2504490989','tqq':'801083581','t163':'','tsohu':''}}
    $(function(){
        document.getElementById("bdshell_js").src = "http://s2.pstatp.com/r2/js/bds_s_360.js";
    })
</script>
