.pink {
  color: #ff819f !important;
}
#needLoginPopupWindow .popup-window {
  width: 590px;
  height: 330px;
  min-height: 330px;
  margin-left: -295px;
  margin-top: -165px;
  position: relative;
}
#needLoginPopupWindow .popup-window .phone {
  position: absolute;
  bottom: 0;
  margin-left: 34px;
}
#needLoginPopupWindow .popup-window .text-wrapper {
  margin-left: 280px;
  margin-top: 60px;
}
#needLoginPopupWindow .popup-window .text-wrapper .h1 {
  color: #ff819f;
  font-size: 22px;
  margin-bottom: 16px;
}
#needLoginPopupWindow .popup-window .text-wrapper .h2 {
  color: #717171;
  font-size: 20px;
  margin-bottom: 16px;
}
#needLoginPopupWindow .popup-window .text-wrapper .h2.mb {
  margin-bottom: 28px;
}
#needLoginPopupWindow .popup-window .text-wrapper .button {
  background-color: #ff819f;
  color: #fff;
  font-size: 18px;
  width: 100px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 5px;
}
#needLoginPopupWindow .popup-window .text-wrapper .button a {
  color: #fff;
  display: block;
}
#needLoginPopupWindow .popup-window .text-wrapper #showLoginBtn {
  margin-top: 10px;
  margin-right: 12px;
}
#needLoginPopupWindow .popup-window .text-wrapper .qrcode {
  width: 110px;
  position: relative;
  top: -15px;
  margin-left: 20px;
}
